{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="icon" href='{% static "img/logoIcon.png"%}'>
  <title>Blissful</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicon -->
  <link href='{% static "img/favicon.ico"%}' rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap"
    rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href=' {% static "lib/animate/animate.min.css" %}' rel="stylesheet">
  <link href='{% static "lib/owlcarousel/assets/owl.carousel.min.css" %}' rel="stylesheet">
  <link href='{% static "lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"%}' rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href=' {% static "css/bootstrap.min.css" %}' rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href='{% static "css/style.css"%}' rel="stylesheet">
</head>
<style>
  .edit-btn {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .edit-btn:hover {
    background-color: #218838;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .page,
  .prev,
  .next {
    display: inline-block;
    padding: 6px 12px;
    margin-right: 5px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .page.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }

  .prev,
  .next {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
  }

  .prev:hover,
  .next:hover,
  .page:hover {
    background-color: #f5f5f5;
  }

  .prev:disabled,
  .next:disabled,
  .prev.disabled,
  .next.disabled {
    color: #ccc;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ccc;
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .label {
    margin-bottom: 8px;
  }

  input[type="text"],
  input[type="file"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  input[type="file"] {
    margin-top: 8px;
  }

  .add:hover {
    background-color: #fea116;
    color: #fff;
  }
</style>

<body>
  <div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <div id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
      <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar & Hero Start -->
    <div class="container-xxl position-relative p-0">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
          <a href="" class="navbar-brand p-0">
              <h1 class="text-primary m-0"><img src='{% static "img/logo.png" %}' alt="Logo">Blissful</h1>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="fa fa-bars"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav ms-auto py-0 pe-4">
                  <a href="{% url 'manage_Employee' %}" class="nav-item nav-link">Employee</a>
                  <a href="{% url 'manage_Customer' id_page=1 %}" class="nav-item nav-link active">Customer<i class="fas fa-cart-plus" style="padding-left: 4px;"></i></a>
                  <a href="{% url 'formlogin' %}" id="login-btn" class="nav-item nav-link">Login</a>
                  <div class="nav-item dropdown" id="logout-btn">
                      <a href="#" class="nav-link dropdown-toggle"
                          data-bs-toggle="dropdown">{{request.user.username}}</a>
                      <div class="dropdown-menu m-0">
                          <a href="{%url 'my_logout'%}" class="dropdown-item">Logout</a>
                      </div>
                  </div>
              </div>
          </div>
      </nav>


      <div class="container-xxl py-5 bg-dark hero-header mb-5">
          <div class="container text-center my-5 pt-5 pb-4">
              <h1 class="display-3 text-white mb-3 animated slideInDown">Customer Management</h1>
          </div>
      </div>
  </div>
  <!-- Navbar & Hero End -->


    <!-- Team Start -->
    <div class="container-xxl pt-5 pb-3">
      <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h5 class="section-title ff-secondary text-center text-primary fw-normal">Customer</h5>
        </div>
        <div class="row g-4">
          {% for customer in list_Customer %}
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item text-center rounded overflow-hidden">
              <div class="rounded-circle overflow-hidden m-4">
                <img class="img-fluid" src="{% static customer.image %}" alt="">
              </div>
              <h5 class="mb-0">{{customer.customer.first_name}} {{customer.customer.last_name}}</h5>
              <small>Customer</small>
              <div class="d-flex justify-content-center mt-3">
                <a class="btn btn-square btn-primary mx-1"
                  href="{% url 'delete_customer' id=customer.id id_page=id_page %}"><i
                    class="fa-solid fa-trash"></i></a>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasExample{{customer.id}}" aria-controls="offcanvasExample">
                  <i class="fas fa-user-cog"></i>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample{{customer.id}}"
                  aria-labelledby="offcanvasExampleLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title form-title" id="offcanvasExampleLabel">CUSTOMER DETAIL</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                      aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <div>
                      <div class="form-group">
                        <img class="img-fluid" src="{% static customer.image %}" alt="">
                      </div>
                      <div class="form-group">

                        <fieldset>
                          <label class="form-label mt-4" for="readOnlyInput">Full Name</label>
                          <input class="form-control" id="readOnlyInput" type="text"
                            placeholder="{{customer.customer.first_name}} {{customer.customer.last_name}}" readonly="">
                        </fieldset>
                      </div>
                      <div class="form-group">
                        <fieldset>
                          <label class="form-label mt-4" for="readOnlyInput">Address</label>
                          <input class="form-control" id="readOnlyInput" type="text" placeholder="{{customer.address}}"
                            readonly="">
                        </fieldset>
                      </div>
                      <div class="form-group">
                        <fieldset>
                          <label class="form-label mt-4" for="readOnlyInput">Number</label>
                          <input class="form-control" id="readOnlyInput" type="text"
                            placeholder="{{customer.number_phone}}" readonly="">
                        </fieldset>
                      </div>
                      <div class="form-group">
                        <fieldset>
                          <label class="form-label mt-4" for="readOnlyInput">Chức vụ</label>
                          <input class="form-control" id="readOnlyInput" type="text" placeholder="Khách hàng"
                            readonly="">
                        </fieldset>
                      </div>

                    </div>
                    <div class="dropdown mt-3">
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="pagination">
            {% for i in num_page %}
            {% if i == id_page %}
            <a href="{% url 'manage_Customer' id_page=i %}" class="page active">{{i}}</a>
            {% else %}
            <a href="{% url 'manage_Customer' id_page=i %}" class="page">{{ i }}</a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Team End -->


      <!-- Footer Start -->
      <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
          <div class="row g-5">
            <div class="col-lg-3 col-md-6">
              <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Company</h4>
              <a class="btn btn-link" href="">About Us</a>
              <a class="btn btn-link" href="">Contact Us</a>
              <a class="btn btn-link" href="">Reservation</a>
              <a class="btn btn-link" href="">Privacy Policy</a>
              <a class="btn btn-link" href="">Terms & Condition</a>
            </div>
            <div class="col-lg-3 col-md-6">
              <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
              <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Nguyen Luong Bang, Lien Chieu, Da Nang</p>
              <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
              <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
              <div class="d-flex pt-2">
                <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Opening</h4>
              <h5 class="text-light fw-normal">Monday - Saturday</h5>
              <p>09:00AM - 09:00PM</p>
              <h5 class="text-light fw-normal">Sunday</h5>
              <p>10:00AM - 08:00PM</p>
            </div>
            <div class="col-lg-3 col-md-6">
              <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Newsletter</h4>
              <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
              <div class="position-relative mx-auto" style="max-width: 400px;">
                <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                <button type="button"
                  class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer End -->


      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src='{%static "lib/wow/wow.min.js"%}'></script>
    <script src='{%static "lib/easing/easing.min.js"%}'></script>
    <script src='{%static "lib/waypoints/waypoints.min.js"%}'></script>
    <script src='{%static "lib/counterup/counterup.min.js"%}'></script>
    <script src='{%static "lib/owlcarousel/owl.carousel.min.js"%}'></script>
    <script src='{%static "lib/tempusdominus/js/moment.min.js"%}'></script>
    <script src='{%static "lib/tempusdominus/js/moment-timezone.min.js"%}'></script>
    <script src='{%static "lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"%}'></script>

    <!-- Template Javascript -->
    <script src='{%static "js/main.js"%}'></script>
    <script src='{%static "js/cart.js"%}'></script>
    <script type="text/JavaScript">
        var user = '{{request.user}}'
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    </script>
    <script src='{%static "js/main.js"%}'></script>
    <script src='{%static "js/auth.js"%}'></script>
    <script src='{%static "js/login.js"%}'></script>
</body>

</html>